.container {
	padding: 64px;
    background-color: ghostwhite;
}

.rjs-highlight {
	background-color: yellow;
}

.rjs-error {
	color: red;
}

.live-demo {
	background-color: gainsboro;
    padding: 25px;
    width: 435px;	
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #92aac3;
    color: #fff;
}